.showMessage {
    display: flex;
    color : var(--whiteColor);
    background-color: rgb(129, 113, 113);
    border-radius: 10px;
    text-align: center; 
    justify-content: center;
    place-items: center;
    height: 30px;
}